@{ViewData["Title"] = "Ferramenta de detecção facial para analíse de Satisfação";}
<div style="text-align: center;"><h2>@ViewData["Title"]</h2></div>


<p>
        Com toda a forma exponencial que a tecnologia vem evoluindo, muitas ferramentas surgiram para ajudar de alguma forma, qualquer tipo de atividade que exercemos. Levando em consideração essa realidade foi tomada a decisão da elaboração de uma ferramenta que auxilie na análise de satisfação de consumidores através do reconhecimento facial.
    A tecnologia de reconhecimento facial já faz parte do cotidiano, e pode ser aplicada em diversas áreas, proporcionando assim muitos benefícios ao utilizá-la.
    .
</p>
<br />
<p>
        A ferramenta aqui proposta consiste em fotografar o indivíduo no momento em que estiver olhando determinado item, em uma vitrine, por exemplo, e realizar uma análise detalhada na imagem para que, através de suas expressões, seja possível identificar seu nível de satisfação para com aquele item, e desenvolver um feedback sobre a aceitação do mesmo no mercado.
</p>


<img src="~/images/img3.png" alt="Package Management" class="img-responsive" />
