@{
    ViewData["Title"] = "Contatos";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    R. Dr. Altino Arantes, 991<br />
    Parque Universitario, Franca - São Paulo<br />
    CEP 14.404-614<br />

    <abbr title="Phone">(016) 9 9408-1231</abbr>
    <abbr title="Phone">(016) 3701-2419</abbr>
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:douglaswck@hotmail.com.br">douglaswck@hotmail.com</a><br />
</address>
